@CHARSET "UTF-8";

#business_copy .businesstable.business0620_table .form_input {
	width: 60px;
}

#business_copy .businesstable.business0620_table .form_select {
	width: 80px;
}

#business_copy .businesstable.business0620_table  .no_td {
	width: 30px;
}

#business_copy .businesstable.business0620_table  .name_td {
	width: 80px;
}


#business_copy .businesstable.business0620_table{
	width:900px ;
}