@CHARSET "UTF-8";

.checkboxtable {
	margin-top: 10px;
}

.table_check {
	margin: 8px 5px 8px 0px;
	float: left;
	width: 13px;
	height: 13px;
	cursor: pointer;
}

.table_check_em {
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right: 7px;
	cursor: pointer;
}