@CHARSET "UTF-8";

#intermediate_copy .list_table .no_td {
	width: 50px;
}

#intermediate_copy .list_table .name_td {
	width: 200px;
}

#intermediate_copy .list_table .unit_td {
	width: 200px;
}

#intermediate_copy .list_table .vocspercentage_td {
	width: 200px;
}

#intermediate_copy .list_table .capacity_td {
	width: 200px;
}

#intermediate_copy .list_table .op_td {
	width: 50px;
}

#intermediate_copy .form_content .form_content_li.attachment_li {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	height: auto;
}

#intermediate_copy #file_upload_intermediate_add {
	margin-top: 7px;
}

#intermediate_copy .attachment_view_div {
	float: left;
	margin-left: 155px;
	margin-top: 12px;
	width: 650px;
}

#intermediate_copy .intermediate_attachment {
	height: 30px;
	line-height: 30px;
}

#intermediate_copy .attachment_del_a {
	margin-left: 20px;
	color: #999;
}

#intermediate_copy .attachment_del_a:hover {
	color: #dd1778;
}