@CHARSET "UTF-8";

.business0210_table .no_td {
	width: 100px;
}

.business0210_table .name_td {
	width: 400px;
}

.business0210_table .workshopdata_td {
	width: 400px;
}

.business0210_table .powerconsume_td {
	width: 400px;
}