extends ../layouts/layout
block loadtitle
    -var title='CMS 用户中心'

append styles
    link(rel='stylesheet', href='/plugins/kindeditor-4.1.11/themes/default/default.css')
    link(rel='stylesheet', href='/plugins/kindeditor-4.1.11/plugins/code/prettify.css')
    link(rel='stylesheet', href='/plugins/jquery-file-upload/css/jquery.fileupload.css')

block cms_content
    .content_main
        mixin toastr(status, msg)
        .container-fluid
            section.todo-content
                div.panel-title.pll General Form Elements
                    small Preview
            .col-md-12: .box.box-info
                .box-header.with-border: h3.box-title Horizontal Form
                form.form-horizontal(data-validate="parsley")
                    .box-body
                        .form-group
                            label.col-sm-1.control-label(for='input1') Email
                            .col-sm-3: input#input1.form-control.parsley-validated(name='input1',type='email',placeholder='Email',value="")
                            label.col-sm-1.control-label Password
                            .col-sm-3: input.form-control.parsley-validated(name='Password',type='password',placeholder='Password',value="")
                        .form-group
                            label.col-sm-1.control-label Line2
                            .col-sm-3: input.form-control.parsley-validated(name='Line2',type='text',placeholder='Line2',value="")
                        .form-group
                            label.col-sm-1.control-label Textarea
                            .col-sm-7: textarea#Content.textarea.form-control.parsley-validated(name="Content",rows="5",placeholder="Enter text ...")
                        .form-group: .col-sm-offset-1.col-sm-11: .checkbox: label
                                input.checkbox(type='checkbox')
                                | Remember me
                        .form-group: .col-sm-offset-1.col-sm-11
                            button.btn.btn-default(type='button') Cancel
                            button.btn.btn-info.mll(type='submit') Sign in

append scripts
    script(type='text/javascript',src='/plugins/kindeditor-4.1.11/kindeditor.js')
    script(type='text/javascript',src='/plugins/kindeditor-4.1.11/lang/zh-CN.js')
    script(type='text/javascript',src='/plugins/kindeditor-4.1.11/plugins/code/prettify.js')
    script(type='text/javascript',src='/plugins/jquery-file-upload/js/jquery.fileupload-ajax.js')
    script(type='text/javascript',src='/js/cms/KindEditorPageJS.js')