@CHARSET "UTF-8";

#slag_copy .list_table .no_td {
	width: 50px;
}

#slag_copy .list_table .name_td {
	width: 120px;
}

#slag_copy .list_table .type_td {
	width: 120px;
}

#slag_copy .list_table .othertype_td {
	width: 120px;
}

#slag_copy .list_table .open_td {
	width: 100px;
}

#slag_copy .list_table .fill_td {
	width: 60px;
}

#slag_copy .list_table .storage_td {
	width: 100px;
}

#slag_copy .list_table .fname_td {
	width: 80px;
}

#slag_copy .list_table .fcount_td {
	width: 80px;
}

#slag_copy .list_table .ability_td {
	width: 60px;
}

#slag_copy .list_table .op_td {
	width: 50px;
}