@CHARSET "UTF-8";

#tank03_copy .list_table.tank03_table {
	width: 2200px;
}

#tank03_copy .tank03_table td {
	white-space: nowrap;
}

#tank03_copy .lt_div {
	overflow-x: scroll;
}

#tank03_copy .list_table .no_td {
	width: 50px;
}

#tank03_copy .list_table .number_td {
	width: 100px;
}

#tank03_copy .list_table .name_td {
	width: 100px;
}

#tank03_copy .list_table .height_td {
	width: 100px;
}

#tank03_copy .list_table .diameter_td {
	width: 100px;
}

#tank03_copy .list_table .volume_td {
	width: 100px;
}

#tank03_copy .list_table .maxsh_td {
	width: 100px;
}

#tank03_copy .list_table .avgsh_td {
	width: 100px;
}

#tank03_copy .list_table .lining_td {
	width: 100px;
}

#tank03_copy .list_table .louter_td {
	width: 100px;
}

#tank03_copy .list_table .stand_td {
	width: 100px;
}

#tank03_copy .list_table .color_td {
	width: 100px;
}

#tank03_copy .list_table .paint_td {
	width: 100px;
}

#tank03_copy .list_table .seal_td {
	width: 150px;
}

#tank03_copy .list_table .pc_td {
	width: 150px;
}

#tank03_copy .list_table .pd_td {
	width: 50px;
}

#tank03_copy .list_table .connect_td {
	width: 150px;
}

#tank03_copy .list_table .jointlength_td {
	width: 100px;
}

#tank03_copy .list_table .area_td {
	width: 100px;
}

#tank03_copy .list_table .vp_td {
	width: 100px;
}

#tank03_copy .list_table .material_td {
	width: 100px;
}

#tank03_copy .list_table .density_td {
	width: 100px;
}

#tank03_copy .list_table .ws_td {
	width: 100px;
}

#tank03_copy .list_table .op_td {
	width: 50px;
}

#tank03_copy .add_device_span {
	font-size: 20px;
	color: #00a2ca;
	font-weight: bold;
	cursor: pointer;
	float: left;
}

#tank03_copy .device_info_min_div {
	float: left;
	padding: 0px 20px;
	border: 1px #00a2ca solid;
	margin-right: 10px;
	margin-bottom: 15px;
	position: relative;
	cursor: pointer;
}

#tank03_copy .form_content_li.deviceinfo_li {
	height: auto;
	overflow: hidden;
}

#tank03_copy .del_device_info_a {
	position: absolute;
	top: 2px;
	right: 3px;
	display: none;
}

#tank03_copy .del_device_info_img {
	width: 8px;
	height: 8px;
}

.form_content .form_label.LM {
	width: 350px;
}

#tank03_copy .list_table .material_td {
	width: 250px;
}

#tank03_copy .list_table .mol_td {
	width: 100px;
}

#tank03_copy .list_table .cas_td {
	width: 100px;
}

#tank03_copy .list_table .antoine_a_td {
	width: 100px;
}

#tank03_copy .list_table .antoine_b_td {
	width: 100px;
}

#tank03_copy .list_table .antoine_c_td {
	width: 100px;
}

#tank03_copy .list_table .liquid_td {
	width: 100px;
}

#tank03_copy .list_table .oilname_td {
	width: 150px;
}

#tank03_copy .list_table .Dist_tempXV_td {
	width: 100px;
}

#tank03_copy .list_table .Dist_tempV_td {
	width: 100px;
}

#tank03_copy .list_table .reid_pre_td {
	width: 120px;
}

#tank03_copy .list_table .othermaterial_td {
	width: 100px;
}

#tank03_copy .list_table .op_td {
	width: 100px;
	display: block;
}

#tank03_copy .list_table .type_td {
	width: 100px;
}

#tank03_copy .list_table .heightup_td {
	width: 100px;
}