@CHARSET "UTF-8";



#workplan_copy .workplan_table td {
	white-space: nowrap;
}


#workplan_copy .view_div{
	overflow-x:scroll;
}

#workplan_copy .list_table .no_td {
	width: 50px;
}

#workplan_copy .list_table .wnum_td {
	width: 50px;
}

#workplan_copy .list_table .wmse_td {
	width: 50px;
}

#workplan_copy .list_table .wbegin_td {
	width: 100px;
}


#workplan_copy .list_table .wend_td {
	width: 100px;
}
#workplan_copy .list_table .wxllevel_td {
	width: 70px;
}
#workplan_copy .list_table .wcreatetime_td {
	width: 100px;
}
#workplan_copy .list_table .wupdatetime_td {
	width: 100px;
}

#workplan_copy .list_table .wcurrent_td {
	width: 70px;
}

#workplan_copy .list_table .wstatus_td {
	width: 70px;
}

#workplan_copy .list_table .op_td {
	width: 300px;
}

#workplan_copy .table_tip_div {
	width: 125px;
	line-height: 18px;
	position: absolute;
	top: 65px;
	left: 169px;
	display: none;
}

#workplan_copy .table_tip {
	position: relative;
	width: 225px;
	z-index: 5;
	margin-left: 6px;
	border: solid 1px #0066cc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #f5faff;
	color: #0066cc;
	padding: 7px 12px 5px 12px;
	font-size: 12px;
	text-align: left;
}

#workplan_copy .table_tip_i {
	position: absolute;
	top: -4px;
	left: 12px;
	background:url(../../../images/up_arrow_ico.png) no-repeat;
	width: 8px;
	height: 4px;
	font-size: 4px;
	display: block;
}




