@CHARSET "UTF-8";

 #business1030_div .list_table .no_td {
	width: 50px;
}

#business1030_div .list_table .no_td.child {
	width: 150px;
}

#business1030_div .list_table .kind_td {
	width: 160px;
}

#business1030_div .list_table .type_td {
	width: 160px;
}

/* 参数名称 */
#business1030_div .list_table .parameter_td {
	width: 100px;
}

/* 燃煤设施名称 */
#business1030_div .list_table .burning_td {
	width: 100px;
}

/* N 每年测量总次数（次/年） */
#business1030_div .list_table .measurenum_td {
	width: 100px;
}

#business1030_div .list_table .time_td {
/* 	width: 100px; */
	position: relative;
}

/* Qn（标立方米/小时） */
#business1030_div .list_table .qn_td {
/* 	width: 100px; */
	position: relative;
}
/* Cn（毫克/标立方米）
#business1030_div .list_table .cn_td {
	width: 100px;
	position: relative;
} */
/* t（小时）
#business1030_div .list_table .tn_td {
	width: 100px;
	position: relative;
}
 */
#business1030_div .list_table .op_td {
	width: 50px;
}

#business1030_div .list_table .op_td.child {
	width: 150px;
}

#business1030_div .child_input {
	width: 160px;
	margin-left: 13px;
	padding: 4px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #FFF url(../../../../images/input_bg.gif) 0 0 no-repeat;
	box-shadow: 0 1px 2px #f4f4f4 inset;
	vertical-align: middle;
}

#addbusiness1030form .form_buttons {
	position: absolute;
	bottom: 30px;
}

#business1030_div .add_div .form_div {
	padding-bottom: 80px;
}

#business1030_div .form_buttons {
	position: absolute;
	bottom: 30px;
}

#business1030_div .check_div .form_div {
	padding-bottom: 80px;
}

#business1030_div .table_tip_div.business1031_tip {
	width: 225px;
	line-height: 18px;
	position: absolute;
	top: 65px;
	left: 121px;;
	display: none;
}

#business1030_div .table_tip {
	position: relative;
	width: 225px;
	z-index: 5;
	margin-left: 6px;
	border: solid 1px #0066cc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #f5faff;
	color: #0066cc;
	padding: 7px 12px 5px 12px;
	font-size: 12px;
	text-align: left;
}

#business1030_div .table_tip_i {
	position: absolute;
	top: -4px;
	left: 12px;
	background: url(../../../../images/up_arrow_ico.png) no-repeat;
	width: 8px;
	height: 4px;
	font-size: 4px;
	display: block;
}