doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/styles/style.css')
        link(rel='stylesheet', href='/plugins/Flat-UI/css/flat-ui.css')
body
    block content

link(rel='javascript',href='/js/jquery-1.9.1.min.js')
link(rel='javascript',href='/plugins/Flat-UI/js/flat-ui.js')
