doctype html
html
    head
        block loadtitle
        title= title
        include core/styles
        block styles
    body
        include core/toastr
        block content
        include core/scripts
        block scripts
