@CHARSET "UTF-8";

#drain_copy .list_table .no_td {
	width: 50px;
}

#drain_copy .list_table .no_td.child {
	width: 200px;
}

#drain_copy .list_table .no_td.child2 {
	width: 150px;
}

#drain_copy .list_table .number_td {
	width: 200px;
}

#drain_copy .list_table .type_td {
	width: 200px;
}

#drain_copy .list_table .gone_td {
	width: 200px;
}

#drain_copy .list_table .water_td {
	width: 200px;
}

#drain_copy .list_table .component_td {
	width: 500px;
	position: relative;
}

#drain_copy .list_table .fromtype_td {
	width: 300px;
	position: relative;
}

#drain_copy .list_table .fromnumber_td {
	width: 300px;
	position: relative;
}

#drain_copy .list_table .op_td {
	width: 50px;
}

#drain_copy .list_table .op_td.child {
	width: 200px;
}

#drain_copy .list_table .op_td.child2 {
	width: 150px;
}

#drain_copy .child_input {
	width: 240px;
	margin: 0;
	padding: 4px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #FFF url(../../../images/input_bg.gif) 0 0 no-repeat;
	box-shadow: 0 1px 2px #f4f4f4 inset;
	vertical-align: middle;
}

#drain_copy .child_select {
	width: 240px;
	margin: 0;
	padding: 4px;
	height: 32px;
	line-height: 22px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #FFF url(../../../images/input_bg.gif) 0 0 no-repeat;
	box-shadow: 0 1px 2px #f4f4f4 inset;
	vertical-align: middle;
}

#adddrainform .form_buttons {
	position: absolute;
	bottom: 20px;
}

#drain_copy .add_div .form_div {
	padding-bottom: 80px;
}

#modifydrainform .form_buttons {
	position: absolute;
	bottom: 20px;
}

#drain_copy .check_div .form_div {
	padding-bottom: 80px;
}

#drain_copy .table_tip_div.component_tip {
	width: 225px;
	line-height: 18px;
	position: absolute;
	top: 65px;
	left: 120px;
	display: none;
}

#drain_copy .table_tip_div.from_tip {
	width: 225px;
	line-height: 18px;
	position: absolute;
	top: 65px;
	left: 20px;
	display: none;
}

#drain_copy .table_tip {
	position: relative;
	width: 225px;
	z-index: 5;
	margin-left: 6px;
	border: solid 1px #0066cc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #f5faff;
	color: #0066cc;
	padding: 7px 12px 5px 12px;
	font-size: 12px;
	text-align: left;
}

#drain_copy .table_tip_i {
	position: absolute;
	top: -4px;
	left: 12px;
	background: url("../../../images/up_arrow_ico.png") no-repeat;
	width: 8px;
	height: 4px;
	font-size: 4px;
	display: block;
}

#drain_copy .form_content .form_content_li.attachment_li {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	height: auto;
}

#drain_copy #file_upload_drain_add {
	margin-top: 7px;
}

#drain_copy .attachment_view_div {
	float: left;
	margin-left: 155px;
	margin-top: 12px;
	width: 650px;
}

#drain_copy .drain_attachment {
	height: 30px;
	line-height: 30px;
}

#drain_copy .attachment_del_a {
	margin-left: 20px;
	color: #999;
}

#drain_copy .attachment_del_a:hover {
	color: #dd1778;
}