@CHARSET "UTF-8";
/* 序号 */
.business0910_table .no_td {
	width: 20px;
}
/* 生产单位 */
.business0910_table .productionunit_td {
	/*width: 45px;*/
	width: 55px;
}
/* 原物料或产品 */
.business0910_table .materialsproduct_td {
	/*width: 80px;*/
	width: 85px;
}
/* 核算期原物料或产品产量 */
.business0910_table .businessmaterialsproduct_td {
	width: 80px;
}
/* 单位 */
.business0910_table .unit_td {
	/*width: 30px;*/
	width: 35px;
}
/* 备注 */
.business0910_table .remark_td {
	width: 350px;
}