@CHARSET "UTF-8";

#business0720_div .list_table .no_td {
	width: 50px;
}

#business0720_div .list_table .produce_td {
	width: 70px;
}

#business0720_div .list_table .beltline_td {
	width: 70px;
}

#business0720_div .list_table .cov_td {
	width: 70px;
}

#business0720_div .list_table .mc_td {
	width: 70px;
}

#business0720_div .list_table .uf_td {
	width: 70px;
}

#business0720_div .list_table .ud_td {
	width: 70px;
}

#business0720_div .list_table .hd_td {
	width: 70px;
}

#business0720_div .list_table .hf_td {
	width: 70px;
}

#business0720_div .list_table .sd_td {
	width: 70px;
}

#business0720_div .list_table .td_td {
	width: 70px;
}

#business0720_div .list_table .com_td {
	width: 100px;
}

#business0720_div .list_table .op_td {
	width: 50px;
}

#business0720_div .child_input {
	width: 240px;
	margin: 0;
	padding: 4px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #FFF url(../../../../images/input_bg.gif) 0 0 no-repeat;
	box-shadow: 0 1px 2px #f4f4f4 inset;
	vertical-align: middle;
}

#addbusiness0720form .form_buttons {
	position: absolute;
	bottom: 20px;
}

#business0720_div .add_div .form_div {
	padding-bottom: 80px;
}

#modifypaintform .form_buttons {
	position: absolute;
	bottom: 20px;
}

#business0720_div .check_div .form_div {
	padding-bottom: 80px;
}