@CHARSET "UTF-8";

#notice_copy #file_upload_notice_add {
	margin-top: 5px;
}

#notice_copy .content_li {
	height: auto;
	overflow: hidden;
}

#notice_copy .attachment_li {
	height: auto;
	overflow: hidden;
}

#notice_copy .no_td {
	width: 150px;
}

#notice_copy .title_td {
	width: 400px;
}

#notice_copy .createtime_td {
	width: 200px;
}

#notice_copy .op_td {
	width: 150px;
}

#notice_copy .notice_title {
	text-align: center;
	margin: 40px 0px;
	font-size: 18px;
	font-weight: bold;
}

#notice_copy .notice_content {
	text-indent: 2em;
	margin: 40px 0px;
	line-height: 24px;
}


#notice_copy .notice_attachment{
	margin: 40px 0px;
	line-height: 24px;
}


#notice_copy .noticeweek_em{
    background-color: #E78181;
    background-image: -webkit-linear-gradient(top, #F3A3A3, #EE6B6B);
    background-image: -moz-linear-gradient(top, #F3A3A3, #EE6B6B);
    background-image: -ms-linear-gradient(top, #F3A3A3, #EE6B6B);
    background-image: -o-linear-gradient(top, #F3A3A3, #EE6B6B);
    color: #fff;
    font-family: Verdana;
    font-weight: normal;
    padding: 2px 5px;
    margin-right: -51px;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 1);
    font-size: 10px;
    z-index: 100;
    display: none;
    behavior: url(../pie/PIE.htc);
    line-height: 16px;
}