@CHARSET "UTF-8";

#product_copy .list_table .no_td {
	width: 50px;
}

#product_copy .list_table .type_td {
	width: 160px;
}

#product_copy .list_table .name_td {
	width: 160px;
}

#product_copy .list_table .unit_td {
	width: 160px;
}

#product_copy .list_table .vocspercentage_td {
	width: 160px;
}

#product_copy .list_table .capacity_td {
	width: 160px;
}

#product_copy .list_table .op_td {
	width: 50px;
}

#product_copy .product_downloadword_div {
	background: url("../../../images/excel_ico.jpg") left top no-repeat;
	height: 20px;
	line-height: 26px;
	padding-left: 26px;
	margin-left: 40px;
}

#product_copy .form_content .form_content_li.attachment_li {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	height: auto;
}

#product_copy #file_upload_product_add {
	margin-top: 7px;
}

#product_copy .attachment_view_div {
	float: left;
	margin-left: 155px;
	margin-top: 12px;
	width: 650px;
}

#product_copy .product_attachment {
	height: 30px;
	line-height: 30px;
}

#product_copy .attachment_del_a {
	margin-left: 20px;
	color: #999;
}

#product_copy .attachment_del_a:hover {
	color: #dd1778;
}