extends layouts/layout
block loadtitle
    -var title='CMS Index Page'

block cms_content
    .content_main
        mixin toastr(status, msg)
        .container-fluid
            h1 我是cms管理系统主页
            .row
                .span3
                    h3.demo-panel-title Checkboxes
                    lable(something=null).checkbox
                        span.icon
                        span.icon-to-fade
                        -var someValue=true
                        input(type="checkbox", checked=someValue, value=null)
                        lable checkbox's UnChecked