extends layouts/layout
append loadtitle
    -title += ' | 主页'

block cms_content
    .content_main
        mixin toastr(status, msg)
        .container-fluid
            h1 我是cms管理系统主页
            .row
                .col-md-3
                    h3.panel-title Checkboxes
                    div.checkbox: label
                        span.icons
                        span.icon-to-fade
                        -var someValue=false
                        input(type='checkbox', checked=someValue)
                        lable checkbox's UnChecked
                    div.checkbox: label
                        span.icons
                        span.icon-to-fade
                        input(type='checkbox', checked)
                        lable Checkbox's Checked
                .col-md-3
                    h3.panel-title Radio Buttons
                    div.radio: label
                        span.icons
                        span.icon-to-fade
                        input(type='radio',name='radio1',checked)
                        lable Radio's Checked
                    div.radio: label
                        span.icons
                        span.icon-to-fade
                        input(type='radio',name='radio1')
                        lable Radio's UnChecked
            .row
                .col-md-3
                    h3.panel-title DropDownList
                    .btn-group.select.select-block
                        button.btn.btn-inverse.dropdown-toggle.clearfix(data-toggle='dropdown')
                            span.filter-option.pull-left Large button &nbsp;
                            span.caret
                        ul.dropdown-menu.dropdown-menu-inverse(role='menu')
                            li: a(href='#') Action
                            li: a(href='#') Another action
                            li: a(href='#') Something else here
                            li.divider
                            li: a(href='#') Separated link
