extends layouts/layout
block loadtitle
    -var title='CMS 产品管理'

block cms_content
    .content_main
        mixin toastr(status, msg)
        .container-fluid(ng-app="list",ng-controller="listCtrl")
            section.todo-content
                div.panel-title.pll 产品管理
                    small 产品列表
            .col-md-12: .box.box-info
                .box-header.with-border: h3.box-title 产品列表
                .box-body
                    .col-sm-12: .row: .input-group.form-group
                        input#wd.form-control(type='text',placeholder='Search Word ..',value='')
                        span.input-group-btn
                            button.btn(type="button",ng-click='Pager.GetData(1)'): span.fui-search
                            a.btn.btn-danger(href='/cms/product/details/0'): span.fui-plus
                    .col-sm-12: .row
                        table.table.table-striped.table-bordered(role="grid")
                            thead: tr(role='row')
                                th 产品名称
                                th.text-center(width='100') 类别名称
                                th.text-center(width='100') 型号
                                th.text-center(width='100') 规格
                                th.text-center(width='100') 品牌
                                th.text-center(width='100') 单价
                                th.text-center(width='100') 发布日期
                                th.text-center(width='100') 有效期
                                th.text-center(width='120') 操作
                            tbody
                                tr(role='row',ng-repeat="item in lists")
                                    td {{item.name}}
                                    td.text-center {{item.category_name}}
                                    td.text-center {{item.model}}
                                    td.text-center {{item.specification}}
                                    td.text-center {{item.brand}}
                                    td.text-center {{item.price}}
                                    td.text-center {{item.publish_date}}
                                    td.text-center {{item.expiry_date}}
                                    td.text-center
                                        a.btn.btn-primary.btn-xs(ng-href='/cms/product/details/{{item.id}}'): span.fa.fa-pencil-square-o
                                        a.btn.btn-danger.btn-xs.mll(ng-click='Pager.DeleteData(item.id)'): span.fa.fa-times
                .box-footer
                    .clearfix.pagination-jzk-right: .pagination-jzk.pull-right.mtn#pagination

        append scripts
            script(type='text/javascript',src='/plugins/angular/angular.min.js')
            script(type='text/javascript').
                var app = angular.module('list', []);
                app.controller('listCtrl', function ($scope) {
                    $scope.lists = [];
                    var Pager = {
                        pageSize: 10,
                        LoadPage: function (recordCount, currentPage, CB) {
                            currentPage = currentPage - 1;
                            $("#pagination").pagination(recordCount, {
                                num_display_entries: 5,
                                num_edge_entries: 0,
                                items_per_page: Pager.pageSize,
                                current_page: currentPage,
                                callback: function (page_index, jq) {
                                    if (Number(page_index) != currentPage) {
                                        Pager.GetData(page_index + 1);
                                    }
                                    return false;
                                }
                            });
                        },
                        GetData: function (index) {
                            $.ajax({
                                url: "/cms/product/list",
                                type: "post",
                                dataType: "json",
                                data: {
                                    wd: $("#wd").val(),
                                    page_index: index,
                                    page_size: Pager.pageSize
                                },
                                success: function (data) {
                                    if (data.status > 0) {
                                        toastrShow(data.status, data.msg);
                                        Pager.LoadPage(data.recordCount, index);
                                        $scope.lists = data.data;
                                        $scope.$apply();
                                    }
                                }
                            });
                        },
                        DeleteData: function (id) {
                            if (!confirm('提示:您确定要删除吗?'))
                                return false;

                            $.ajax({
                                url: "/cms/product/delete/" + id,
                                type: "post",
                                dataType: "json",
                                success: function (data) {
                                    if (data.status > 0) {
                                        toastrShow(data.status, data.msg);
                                        Pager.GetData(1);
                                    } else {
                                        toastrShow(data.status, data.msg);
                                    }
                                }
                            });
                        }
                    };
                    Pager.GetData(1);
                    $scope.Pager = Pager;

                    $('#wd').bind('keypress', function (event) {
                        if (event.keyCode == '13') Pager.GetData(1);
                    });
                });