@CHARSET "UTF-8";

#accident_copy .list_table .no_td {
	width: 50px;
}
/* 
#accident_copy .list_table .conveyance_td {
	width: 160px;
}

#accident_copy .list_table .operation_td {
	width: 160px;
}

#accident_copy .list_table .mode_td {
	width: 160px;
}

#accident_copy .list_table .pressure_td {
	width: 160px;
}

#accident_copy .list_table .mol_td {
	width: 160px;
}
 */
#accident_copy .list_table .op_td {
	width: 50px;
}

#accident_copy .form_buttons {
	position: absolute;
	bottom: 20px;
}

#accident_copy .form_content .form_label {
	float: left;
	width: 223px;
	margin-right: 15px;
	text-align: right;
	line-height: 32px;
	min-height: 22px;
}

#accident_copy .list_table .pftype_td {
	width: 200px;
	position: relative;
}

#accident_copy .list_table .pfmaterial_td {
	width: 150x;
	position: relative;
}

#accident_copy .list_table .pfprocess_td {
	width: 250px;
	position: relative;
}

#accident_copy  .flasha_td {
	width: 200px;
	position: relative;
}

#accident_copy  .flashb_td {
	width: 200px;
	position: relative;
}

#accident_copy  .flashc_td {
	width: 200px;
	position: relative;
}

#accident_copy  .flashd_td {
	width: 200px;
	position: relative;
}

#accident_copy  .heata_td {
	width: 180px;
	position: relative;
}

#accident_copy  .heatb_td {
	width: 180px;
	position: relative;
}

#accident_copy  .heatc_td {
	width: 180px;
	position: relative;
}

#accident_copy  .heatd_td {
	width: 180px;
	position: relative;
}

#accident_copy  .heate_td {
	width: 160px;
	position: relative;
}

#accident_copy  .qualitya_td {
	width: 100px;
	position: relative;
}

#accident_copy  .qualityb_td {
	width: 100px;
	position: relative;
}

#accident_copy  .qualityc_td {
	width: 100px;
	position: relative;
}

#accident_copy  .qualityd_td {
	width: 100px;
	position: relative;
}

#accident_copy  .qualitye_td {
	width: 100px;
	position: relative;
}

#accident_copy  .qualityf_td {
	width: 100px;
	position: relative;
}

#accident_copy  .qualityg_td {
	width: 100px;
	position: relative;
}

#accident_copy .child_select {
	width: 153px;
	margin: 0;
	padding: 4px;
	height: 32px;
	line-height: 22px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #FFF url(../../../images/input_bg.gif) 0 0 no-repeat;
	box-shadow: 0 1px 2px #f4f4f4 inset;
	vertical-align: middle;
}

#accident_copy .child_select.l {
	width: 130px;
	margin: 0;
	padding: 4px;
	height: 32px;
	line-height: 22px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #FFF url(../../../images/input_bg.gif) 0 0 no-repeat;
	box-shadow: 0 1px 2px #f4f4f4 inset;
	vertical-align: middle;
}

#accident_copy  .form_div {
	padding-bottom: 80px;
}

#beltline_copy .add_div .form_div {
	padding-bottom: 80px;
}

#accident_copy .table_tip_div {
	width: 225px;
	line-height: 18px;
	position: absolute;
	top: 65px;
	left: 19px;
	display: none;
}

#accident_copy .form_tip_div {
	float: left;
	width: 341px;
	line-height: 23px;
	position: absolute;
	right: -82px;
	display: none;
}

#accident_copy .accident_table .td {
	white-space: nowrap;
}

#accident_copy .lt_div {
	overflow-x: scroll;
}

#accident_copy .child_input {
	width: 160px;
	margin: 0;
	padding: 4px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #FFF url(../../../images/input_bg.gif) 0 0 no-repeat;
	box-shadow: 0 1px 2px #f4f4f4 inset;
	vertical-align: middle;
}

#accident_copy .child_input.l {
	width: 136px;
	margin: 0;
	padding: 4px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #FFF url(../../../images/input_bg.gif) 0 0 no-repeat;
	box-shadow: 0 1px 2px #f4f4f4 inset;
	vertical-align: middle;
}

#accident_copy .child_input.m {
	width: 94px;
	margin: 0;
	padding: 4px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #FFF url(../../../images/input_bg.gif) 0 0 no-repeat;
	box-shadow: 0 1px 2px #f4f4f4 inset;
	vertical-align: middle;
}

#accident_copy .table_tip {
	position: relative;
	width: 145px;
	z-index: 5;
	margin-left: 6px;
	border: solid 1px #0066cc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #f5faff;
	color: #0066cc;
	padding: 7px 12px 5px 12px;
	font-size: 12px;
	text-align: left;
}

#accident_copy .table_tip_i {
	position: absolute;
	top: -4px;
	left: 12px;
	background: url("../../../images/up_arrow_ico.png") no-repeat;
	width: 8px;
	height: 4px;
	font-size: 4px;
	display: block;
}

.form_content .form_content_lik {
	margin-bottom: 20px;
	height: 100px;
	position: relative;
}