@CHARSET "UTF-8";

#enterpriseinfo_copy .modify_em {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 14px;
	color: #3E7ABB;
	cursor: pointer;
}

#enterpriseinfo_copy .hasapply_em {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 14px;
	color: #b5b5b5;
}