@CHARSET "UTF-8";

#business_copy .business0110_table	.no_td {
	width: 50px;
}

#business_copy .business0110_table	.cname_td {
	width: 150px;
}

#business_copy .business0110_table	.usedata_td {
	width: 175px;
}

#business_copy .business0110_table	.manufacturer_td {
	width: 150px;
}

#business_copy .business0110_table	.supplydata_td {
	width: 175px;
}

#business_copy .business0110_table	.unit_td {
	width: 100px;
}