@charset "utf-8";
@media screen and (max-width: 1000px) {
    .header {
        height: 100px;
    }

    .header .logo {
        -webkit-transition: width .3s ease-in-out;
        -o-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        width: 100%;
    }

    .content_main {
        top: 100px;
        -webkit-transition: left .3s ease-in-out;
        -o-transition: left .3s ease-in-out;
        transition: left .3s ease-in-out;
        left: 0;
    }

    .sider_bar {
        top: 100px;
        -webkit-transition: left .3s ease-in-out;
        -o-transition: left .3s ease-in-out;
        transition: left .3s ease-in-out;
        left: -200px;
    }

    .copyright {
        -webkit-transition: left .3s ease-in-out;
        -o-transition: left .3s ease-in-out;
        transition: left .3s ease-in-out;
        left: 0;
    }

    .header .menu_ctl img {
        margin-top: 0;
    }

}

@media screen and (min-width: 1000px) {
    .header {
        height: 50px;
    }

    .header .logo {
        -webkit-transition: width .3s ease-in-out;
        -o-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        width: 200px;
    }

    .content_main {
        top: 50px;
        -webkit-transition: left .3s ease-in-out;
        -o-transition: left .3s ease-in-out;
        transition: left .3s ease-in-out;
        left: 200px;
    }

    .copyright {
        -webkit-transition: left .3s ease-in-out;
        -o-transition: left .3s ease-in-out;
        transition: left .3s ease-in-out;
        left: 200px;
    }

    .sider_bar {
        top: 50px;
        -webkit-transition: left .3s ease-in-out;
        -o-transition: left .3s ease-in-out;
        transition: left .3s ease-in-out;
        left: 0px;
    }

    .header .menu_ctl img {
        margin-top: -50px;
    }
}

/* CSS Document */
