@charset "utf-8";

.welcome {
    width: 500px;
    height: 360px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 100%;
    margin-top: -180px;
    /*background-image: url(../../img/cms/welcome.png);*/
    z-index: 999999;
    display: none;
    margin-top: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 20px 40px rgba(34, 40, 50, 0.15);
    -webkit-box-shadow: 0px 20px 40px rgba(34, 40, 50, 0.15);
    box-shadow: 0px 20px 40px rgba(34, 40, 50, 0.15);

}

.welcome .sys_info {
    width: 60%;
    height: 44px;
    background-color: #326784;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin: auto;
    margin-top: 180px;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 44px;
    cursor: default;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.welcome .start_using {
    width: 60%;
    height: 44px;
    background-color: #ebf2f6;
    background-color: rgba(255, 255, 255, 0.8);
    /*(255, 255, 255)*/
    border: 1px solid rgba(255, 255, 255, 1);
    margin: auto;
    margin-top: 20px;
    color: #326886;
    text-align: center;
    font-size: 14px;
    line-height: 44px;
    cursor: pointer;
    font-weight: bold;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.welcome .start_using:hover {
    background-color: white;
}

.shelter {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(../../img/cms/trans_black.png);
    z-index: 99999;
}

/*header头部*/
.header {
    width: 100%;
    height: 50px;
    background: url(../../img/cms/header_bg_new.png) repeat;
    background-color: #1abc9c;
}

.header .logo {
    width: 200px;
    height: 50px;
    overflow: hidden;
    float: left;
    background-color: #1abc9c;
}

.header .logo img {
    margin: auto;
}

.header .menu_ctl {
    float: left;
    width: 50px;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
}

.header .header_opr .opr_single {
    width: 50px;
    height: 50px;
}

.opr_single.sms::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background: url(../../img/cms/msg_32.png) no-repeat center;
}

.opr_single.alert::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background: url(../../img/cms/alert_32.png) no-repeat center;
}

.opr_single.task::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background: url(../../img/cms/task_32.png) no-repeat center;
}

.header .usr_center {
    padding: 0 16px;
    height: 50px;
    position: relative;
}

.header .usr_center .photo {
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin: 10px 10px 10px 0;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.header .usr_center .photo img {
    width: 100%;
    height: 100%;
}

.header .usr_center .usr_info {
    padding: 10px 0;
}

.header .usr_center .left h4 {
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    display: block;
    margin: auto !important;
    padding: auto !important;
}

.header .usr_center .left p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
    line-height: 16px;
}

.header .usr_center .drop_down {
    position: absolute;
    top: 50px;
    right: 0;
    overflow: hidden;
    background-color: white;
    width: 290px;
    z-index: 999;
    display: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-box-shadow: 0px 2px 4px rgba(34, 40, 50, 0.15);
    -webkit-box-shadow: 0px 2px 4px rgba(34, 40, 50, 0.15);
    box-shadow: 0px 2px 4px rgba(34, 40, 50, 0.15);
}

.usr_center .drop_down .photo_box {
    width: 100%;
    height: 180px;
    background: url(../../img/cms/usr_center_bg.png);
    overflow: hidden;
}

.drop_down .photo_box h5 {
    font-size: 14px;
    color: white;
    text-align: center;
    margin-top: 26px;
}

.drop_down .photo_box p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    line-height: 20px;
}

.usr_center .drop_down .photo_big {
    width: 80px;
    height: 80px;
    margin: auto;
    margin-top: 20px;
    border: 4px solid white;
    overflow: hidden;
    background-color: white;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    border-radius: 80px;
}

.photo_big img {
    width: 100%;
    height: 100%;
}

.usr_center .drop_down .bottom_part {
    padding: 10px;
    overflow: hidden;
    background-color: #f9f9f9;
    border-top: 1px solid #f4f4f4;
}

.usr_center .drop_down .center_part p {
    width: 49%;
    float: left;
    line-height: 48px;
    color: #4c4c4c;
    text-align: center;
}

.drop_down .center_part p a {
    color: #4c4c4c;
    font-size: 14px;
}

.sider_bar {
    width: 200px;
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    background-color: #222d32;
    overflow: hidden;
    z-index: 999;
}

.sider_bar .bar_top {
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.sider_bar .bar_top .usr_part {
    overflow: hidden;
    padding: 10px;
}

.sider_bar .bar_top .usr_part .usr_photo {
    width: 44px;
    height: 44px;
    overflow: hidden;
    -moz-border-radius: 44px;
    -webkit-border-radius: 44px;
    border-radius: 44px;
}

.sider_bar .bar_top .usr_part .usr_info {
    overflow: hidden;
    padding: 4px 16px;
}

.sider_bar .bar_top .usr_part .usr_info h5 {
    color: white;
    font-size: 14px;
}

.sider_bar .bar_top .usr_part .usr_info span {
    display: block;
    font-size: 14px;
    color: #bcbebf;
    padding-left: 16px;
    height: 16px;
    line-height: 16px;
    position: relative;
}

.sider_bar .bar_top .usr_part .usr_info span::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 2px;
    background-color: #00a65a;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

.sider_bar .bar_top .usr_part .usr_photo img {
    width: 100%;
    height: 100%;
}

.sider_bar .bar_top .search_bar {
    width: 190px;
    height: 36px;
    padding: 0 10px;
    margin-top: 16px;
    background: url(../../img/cms/search_gray.png) right center no-repeat;
    background-color: #374850;
    border: none;
    outline: none;
    color: #9ba1a4;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.sider_bar .menu_title {
    padding: 0 10px;
    height: 36px;
    overflow: hidden;
    background-color: #1a2226;
}

.sider_bar .menu_title .icon {
    width: 20px;
    height: 20px;
    background-image: url(../../img/cms/menu_20_gray.png);
    margin: 8px 0;
}

.sider_bar .menu_title p {
    font-size: 16px;
    line-height: 36px;
    float: left;
    color: #4b646f;
    margin-left: 6px;
}

.sider_bar .menu_list {
    position: absolute;
    top: 156px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.sider_bar .menu_list .list_outer {
    width: 200px;
    height: 100%;
    overflow: hidden;
}

.menu_list .menu_parent {
    height: 44px;
    cursor: default;
    overflow: hidden;
}

.menu_list .menu_parent:hover {
    background-color: #171f22;
}

.menu_list .menu_parent .arrow_down {
    width: 16px;
    height: 16px;
    background-image: url(../../img/cms/menu_status.png);
    float: right;
    margin: 14px 12px;
}

.menu_list .menu_parent.cur .arrow_down {
    background-position: 0 -16px;
}

.menu_list .menu_icon {
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin: 12px;
    float: left;
}

.menu_list .menu_parent.cur .menu_icon img {
    margin-top: -20px;
}

.menu_list .menu_parent p {
    color: #b8c7ce;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    float: left;
}

.menu_list .menu_parent.cur p {
    color: white;
}

.menu_list .sub_menu a { /*display:inline-block;*/
    width: 100%;
    height: 100%;
    color: #2c3b41;
    display: block;
    overflow: hidden;
}

.menu_list .sub_menu {
    background: #2c3b41;
    overflow: hidden;
    display: none;
}

.menu_list .sub_menu li { /*height:30px;*/
    overflow: hidden;
}

.menu_list .sub_menu li:hover {
    background-color: #374a51;
}

.menu_list .sub_menu li.cur .menu_icon img {
    margin-top: -20px;
}

.menu_list .sub_menu li.cur p {
    color: white;
}

.menu_list .sub_menu .menu_icon {
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin: 5px 12px;
    float: left;
}

.menu_list .sub_menu p {
    color: #8aa4af;
    font-size: 14px;
    line-height: 30px;
    float: left;
    width: 135px;
    margin-bottom: 0px;
}

/**jiazhaok**/
.menu_list .sub_menu .sub_sub_menu a { /*display:inline-block;*/
    width: 100%;
    height: 100%;
    color: #2c3b41;
    display: block;
    overflow: hidden;
}

.menu_list .sub_menu .sub_sub_menu {
    background: #2c3b41;
    overflow: hidden;
    display: none;
}

.menu_list .sub_menu .sub_sub_menu li { /*height:30px;*/
    overflow: hidden;
}

.menu_list .sub_menu .sub_sub_menu li:hover {
    background-color: #374a51;
}

.menu_list .sub_menu .sub_sub_menu li.cur .menu_sub_icon img {
    margin-top: -20px;
}

.menu_list .sub_menu .sub_sub_menu li.cur p {
    color: white;
}

.menu_list .sub_menu .sub_sub_menu .menu_sub_icon {
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin: 5px 12px;
    float: left;
}

.menu_list .sub_menu .sub_sub_menu p {
    color: #8aa4af;
    font-size: 12px;
    line-height: 30px;
    float: left;
    width: 135px;
    margin-bottom: 0px;
}

/***  三级菜单  ***/
.sub_menu .sub_li_menu {
    height: auto !important;
}

.sub_menu .sub_li_menu .sub_sub_menu a {
    padding-left: 28px;
}

.sub_menu .sub_li_menu .arrow_down {
    width: 16px;
    height: 16px;
    background-image: url(../../img/cms/menu_status.png);
    float: right;
    margin: 7px 12px;
}

/***  三级菜单  ***/

.content_main {
    position: absolute;
    left: 200px;
    top: 50px;
    right: 0;
    bottom: 48px;
    background-color: #ecf0f5;
    overflow: hidden;
}

.copyright {
    position: absolute;
    font-size: 14px;
    /*color: #666;*/
    left: 200px;
    height: 48px;
    right: 0;
    bottom: 0;
    padding: 0 12px;
    line-height: 48px;
    background-color: #e0e0e0;
    border-top: 1px solid #c3c3c3;
}

.copyright p {
    float: left;
    margin: auto !important;
    line-height: 2.5;
}

/* CSS Document */

