@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, consolas, Lato, "微软雅黑"
}

body {
    overflow: hidden;
    padding: 0px !important;
}

img {
    display: block;
    border: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.column_4 {
    width: 25%
}

.show {
    display: block;
}

.hide {
    display: none;
}

input::-ms-clear {
    display: none;
}

.relative_box {
    position: relative;
    width: 100%;
    height: 100%;
}

.page_index {
    width: 0;
    height: 0;
    visibility: hidden;
}

.show_block:hover {
    background: url(../../img/cms/trans_black.png)
}

/*.button {*/
/*display: inline-block;*/
/*padding: 6px 12px;*/
/*margin-bottom: 0;*/
/*font-size: 14px;*/
/*font-weight: 400;*/
/*line-height: 1.42857143;*/
/*text-align: center;*/
/*white-space: nowrap;*/
/*vertical-align: middle;*/
/*-ms-touch-action: manipulation;*/
/*touch-action: manipulation;*/
/*cursor: pointer;*/
/*-webkit-user-select: none;*/
/*-moz-user-select: none;*/
/*-ms-user-select: none;*/
/*user-select: none;*/
/*background-image: none;*/
/*border: 1px solid transparent;*/
/*border-radius: 4px;*/
/*}*/

/*.btn_gray {*/
/*background-color: #f4f4f4;*/
/*color: #444;*/
/*border: 1px solid #ddd;*/
/*}*/

/*.btn_gray:hover {*/
/*background-color: #e5e5e5;*/
/*border-color: #cccccc;*/
/*}*/

/*.btn_red:hover {*/
/*background-color: #cb4534;*/
/*}*/

/*.btn_red {*/
/*background-color: #dd4b39;*/
/*color: white;*/
/*border: 1px solid #dd4b39;*/
/*}*/

.alert {
    padding: 0px !important;
    border: 0px !important;
}

/* CSS Document */

