@charset "utf-8";

/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote, /* structural elements 结构元素 */
	dl,dt,dd,ul,ol,li, /* list elements 列表元素 */ pre,
	/* text formatting elements 文本格式元素 */ form,fieldset,legend,button,input,textarea,
	/* form elements 表单元素 */ th,td, /* table elements 表格元素 */ img
	/* img elements 图片元素 */ {
	border: medium none;
	margin: 0;
	padding: 0;
}

/** 设置默认字体 **/
body,button,input,select,textarea,pre {
	-webkit-text-size-adjust: none;
	font-family: "\u5FAE\u8F6F\u96C5\u9ED1", "Microsoft Yahei",
		"Hiragino Sans GB", tahoma, arial, "\u5B8B\u4F53" !important;
	font-family: 'Microsoft YaHei';
	font-size: 12px;
	color: #111;
}

html,body {
	background-image: url(about:blank);
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	min-height: 100%;
	color:#333;
}

/*body{
	margin:0 ;
	padding:16px;
	font:12px/170% "simsun",Arial,Helvetica,sans-serif,Verdana;
	font-family:arial,"微软雅黑";
	background-color:#ecf0f5;
}*/

html {
	/*background-color: #fbfaf8;*/
	background-color:#ecf0f5;
}

em {
	font-style: normal;
}

font {
	font-size: 10px;
}

/** 重置列表元素 **/
ul,ol,li {
	list-style: none;
}

/** 重置超链接元素 **/
a {
	text-decoration: none;
	cursor: pointer;
	color: #4e5b70;
}

/** 重置图片元素 **/
img {
	border: 0px;
}

/** 重置表格元素 **/
table {
	border-collapse: collapse;
	border-spacing: 0;
}

pre {
	white-space: pre-wrap;
}

* {
	word-wrap: break-word;
	word-break: break-all;
	margin:0;
	padding:0;
}