@charset "utf-8";
/* CSS Document */


/****************************  通用的css  弹窗效果  **********************************/

@keyframes bounceIn{
	0% {
    opacity: 0;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
	}
	100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
	}
}
.map_content,.add_div .form_div,.check_div .form_div,.check_div .table_div{
	-webkit-animation-name: bounceIn;
	-ms-animation-name: bounceIn;
    animation-name: bounceIn;
	
    /*-webkit-background-clip: content;
	-ms-background-clip: content;
	background-clip: content;*/
	
    -webkit-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
    animation-fill-mode: both;
	
    -webkit-animation-duration: .3s;
	-ms-animation-duration: .3s;
    animation-duration: .3s;
	
	-ms-box-shadow: 1px 1px 50px rgba(0,0,0,.3);
	-webkit-box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
}
