@CHARSET "UTF-8";

#business1110_div .list_table .no_td {
	width: 50px;
}

#business1110_div .list_table .no_td.child {
	width: 150px;
}

#business1110_div .list_table .kind_td {
	width: 160px;
}

#business1110_div .list_table .type_td {
	width: 160px;
}

/* 参数名称 */
#business1110_div .list_table .parameter_td {
	width: 100px;
}

/* 燃煤设施名称 */
#business1110_div .list_table .burning_td {
	width: 100px;
}

/* N 每年测量总次数（次/年） */
#business1110_div .list_table .measurenum_td {
	width: 100px;
}

/* Qn（标立方米/小时） */
#business1110_div .list_table .qn_td {
	width: 100px;
	position: relative;
}
/* Cn（毫克/标立方米） */
#business1110_div .list_table .cn_td {
	width: 100px;
	position: relative;
}
/* t（小时） */
#business1110_div .list_table .tn_td {
	width: 100px;
	position: relative;
}

#business1110_div .list_table .op_td {
	width: 50px;
}

#business1110_div .list_table .op_td.child {
	width: 150px;
}

#business1110_div .child_input {
	width: 160px;
	margin: 0;
	padding: 4px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #FFF url(../../../../images/input_bg.gif) 0 0 no-repeat;
	box-shadow: 0 1px 2px #f4f4f4 inset;
	vertical-align: middle;
}

#addbusiness1110form .form_buttons {
	position: absolute;
	bottom: 20px;
}

#business1110_div .add_div .form_div {
	padding-bottom: 80px;
}

#modifypaintform .form_buttons {
	position: absolute;
	bottom: 20px;
}

#business1110_div .check_div .form_div {
	padding-bottom: 80px;
}

#business1110_div .table_tip_div.business1011_tip {
	width: 225px;
	line-height: 18px;
	position: absolute;
	top: 65px;
	left: 18px;
	display: none;
}

#business1110_div .table_tip {
	position: relative;
	width: 225px;
	z-index: 5;
	margin-left: 6px;
	border: solid 1px #0066cc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #f5faff;
	color: #0066cc;
	padding: 7px 12px 5px 12px;
	font-size: 12px;
	text-align: left;
}

#business1110_div .table_tip_i {
	position: absolute;
	top: -4px;
	left: 12px;
	background:url(../../../../images/up_arrow_ico.png) no-repeat;
	width: 8px;
	height: 4px;
	font-size: 4px;
	display: block;
}


/* 详细画面table列的宽度 */
#business1110_div .list_table_child .HJGK_td{
	width: 100px;
}
#business1110_div .list_table_child .ZYQLX_td{
	width: 100px;
}
#business1110_div .list_table_child .HJCZTJ_td{
	width: 300px;
}
#business1110_div .list_table_child .CZ_td{
	width: 50px;
}

#business1110_div .form_content .form_label {
  float: left;
  width: 349px;
  margin-right: 15px;
  text-align: right;
  line-height: 32px;
  min-height: 22px;
}

.form_content .form_select {
  width: 250px;
  margin: 0;
  padding: 4px;
  height: 32px;
  line-height: 22px;
  border: 1px solid #CCC;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: #FFF url(../../../../images/input_bg.gif) 0 0 no-repeat;
  box-shadow: 0 1px 2px #f4f4f4 inset;
  vertical-align: middle;
}


.form_title {
  /*border-bottom: 5px solid #66b1d8;
  margin-top: 30px;
  padding-left: 40px;*/
  padding-bottom: 10px;
  position: relative;
  height: 18px;
  overflow: hidden;
  margin-bottom: 40px;
  margin-top:20px;
  padding-left: 20px;
  border-bottom: 3px solid #00c0ef;
}

.form_tip_div {
  float: left;
  width: 341px;
  line-height: 18px;
  position: absolute;
  right: -96px;
  display: none;
}
.form_content .form_input {
  width: 242px;
  margin: 0;
  padding: 4px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #CCC;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: #FFF url(../../../../images/input_bg.gif) 0 0 no-repeat;
  box-shadow: 0 1px 2px #f4f4f4 inset;
  vertical-align: middle;
}