body {
    padding: 50px;
    font: 14px "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    background: #e3e3e3 !important;
}

h1, h2, h3 {
    font-size: 22px;
    color: #464646;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

a {
    color: #C2575B;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #F76F76;
}

.panel-title {
    margin-top: 30px !important;
    margin-bottom: 15px !important;
    font-size: 24px !important;
    font-weight: 700;
}

.panel-title small {
    font-weight: 500;
    font-size: 60% !important;
    line-height: 2.067;
    margin-left: 10px;
}

.table {
    margin-bottom: 0px !important;
}

.form-control[disabled] {
    color: #34495e !important;
}

.form-control[readonly] {
    color: #34495e !important;
    cursor: pointer !important;
}

table a, .input-group .btn {
    color: #bdc3c7;
}

table a:hover, .input-group .btn:hover {
    color: #91979b;
}

.note {
    font-size: 14px;
    margin-bottom: 20px;
    padding: 15px;
    border-left: 3px solid;
}

.note.note-info {
    border-color: #587c89;
    background: #bee2ef;
    color: #31708f;
}

.note h4 {
    font-size: 18px;
}

.note ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.note li {
    list-style-type: disc;
    display: list-item;
    text-align: -webkit-match-parent;
}

.table-striped > tbody > tr > td {
    vertical-align: middle !important;
}
.details-picture img{
    max-width: 90%;
    margin: auto;
    max-height: 200px;
}
.details-picture-lable{
    max-width: 90%;
    margin: auto;
}
.inline{
    display: inline !important;
}
.mllg{
    margin-left: 60px;
}
.mllgr{
    margin-left: 120px;
}
.mrlg{
    margin-right: 60px;
}
.mrlgr{
    margin-right: 120px;
}