@CHARSET "UTF-8";

#business0840form {
	margin: 50px;
	font-size: 15px;
	line-height: 36px;
}

#business0840_div .faq_form_label {
	margin: 10px 0px;
	display: block;
}

#business0840_div .faq_form_li {
	position: relative;
	height: auto;
}

#business0840_div  .faq_form_select {
	width: 100%;
	margin: 0;
	padding: 4px;
	height: 32px;
	line-height: 22px;
	border: 1px solid #999;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #FFF url(../../../../images/input_bg.gif) 0 0 no-repeat;
	box-shadow: 0 1px 2px #f4f4f4 inset;
	vertical-align: middle;
	font-size: 14px;
}

#business0840_div .faq_form_textarea {
	width: 99%;
	margin: 0;
	padding: 4px;
	height: 60px;
	line-height: 20px;
	border: 1px solid #999;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #FFF url(../../../../images/input_bg.gif) 0 0 no-repeat;
	box-shadow: 0 1px 2px #f4f4f4 inset;
	resize: none;
	font-size: 14px;
}

#business0840_div .faq_checkbox_ul {
	overflow: hidden;
}

#business0840_div .faq_checkbox_li {
	float: left;
	margin-right: 20px;
}

#business0840_div  .table_check_em {
	margin-left: 5px;
}

#business0840_div .business_form_buttons {
	margin-top: 25px;
}

#business0840_div .faq_form_input_div .disabled {
	background: #f0f0f0;
	color: #999;
}