@CHARSET "UTF-8";

#business0820_div .form_content .form_content_li {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	height: auto;
}

#business0820_div .form_content .form_input_div {
	margin-top: 7px;
}

#business0820_div .attachment_view_div {
	float: left;
	margin-left: 155px;
	margin-top: 12px;
	width: 650px;
}

#business0820_div .business0820_tp {
	height: 30px;
	line-height: 30px;
}

#business0820_div .business0820_mp {
	height: 30px;
	line-height: 30px;
}

#business0820_div .tp_del_a {
	margin-left: 20px;
	color: #999;
}

#business0820_div .tp_del_a:hover {
	color: #dd1778;
}

#business0820_div .mp_del_a {
	margin-left: 20px;
	color: #999;
}

#business0820_div .mp_del_a:hover {
	color: #dd1778;
}