@CHARSET "UTF-8";

#business0540_div .list_table .no_td {
	width: 50px;
}

#business0540_div .list_table .no_td.child {
	width: 150px;
}

#business0540_div .list_table .kind_td {
	width: 160px;
}

#business0540_div .list_table .type_td {
	width: 160px;
}

#business0540_div .list_table .amount_td {
	width: 160px;
}

#business0540_div .list_table .produce_td {
	width: 160px;
}

#business0540_div .list_table .handle_td {
	width: 160px;
}

#business0540_div .list_table .transfer_td {
	width: 300px;
	position: relative;
}

#business0540_div .list_table .com_td {
	width: 300px;
	position: relative;
}

#business0540_div .list_table .op_td {
	width: 50px;
}

#business0540_div .list_table .op_td.child {
	width: 150px;
}

#business0540_div .child_input {
	width: 240px;
	margin: 0;
	padding: 4px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #FFF url(../../../../images/input_bg.gif) 0 0 no-repeat;
	box-shadow: 0 1px 2px #f4f4f4 inset;
	vertical-align: middle;
}

#addbusiness0540form .form_buttons {
	position: absolute;
	bottom: 20px;
}

#business0540_div .add_div .form_div {
	padding-bottom: 80px;
}

#modifypaintform .form_buttons {
	position: absolute;
	bottom: 20px;
}

#business0540_div .check_div .form_div {
	padding-bottom: 80px;
}

#business0540_div .table_tip_div.business0541_tip {
	width: 225px;
	line-height: 18px;
	position: absolute;
	top: 65px;
	left: 18px;
	display: none;
}

#business0540_div .table_tip {
	position: relative;
	width: 225px;
	z-index: 5;
	margin-left: 6px;
	border: solid 1px #0066cc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #f5faff;
	color: #0066cc;
	padding: 7px 12px 5px 12px;
	font-size: 12px;
	text-align: left;
}

#business0540_div .table_tip_i {
	position: absolute;
	top: -4px;
	left: 12px;
	background: url(../../../../images/up_arrow_ico.png) no-repeat;
	width: 8px;
	height: 4px;
	font-size: 4px;
	display: block;
}