@CHARSET "UTF-8";

#business_copy .business_table .no_td {
	width: 50px;
}

#business_copy .business_table .description_td {
	width: 200px;
}

#business_copy .business_table .begin_td {
	width: 150px;
}

#business_copy .business_table .end_td {
	width: 150px;
}

#business_copy .business_table .progress_td {
	width: 100px;
}

#business_copy .business_table .editor {
	width: 100px;
}

#business_copy .business_table .status_td {
	width: 100px;
}

#business_copy .business_table .op_td {
	width: 50px;
}

#business_copy .businesscatalog_ul {
	margin: 20px 50px;
}

#business_copy .businesscatalog_li {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	cursor: pointer;
	padding: 0px 30px;
	color: #bbb;
	position: relative;
}

#business_copy .businesscatalog_li.ne {
	background-color: aliceblue;
}

#business_copy .businesscatalog_li.fin {
	color: #333;
}

#business_copy .businesscatalog_li:hover {
	background-color: antiquewhite;
}

#business_copy .businesscatalog_li_img {
	position: absolute;
	top: 12px;
	left: 6px;
}

#business_copy .businesscatalog_li_a {
	position: absolute;
	top: 0px;
	right: 12px;
	display: block;
	display: none;
}

#business_copy .businesstable {
	width: 900px;
	margin: 40px auto;
}

#business_copy .businesstable td {
	height: 46px;
	line-height: 46px;
	text-align: center;
	position: relative;
}

#business_copy .businesstable thead {
	background: #66b1d8;
	color: #fff;
}

#business_copy .businesstable tbody tr.list_tr {
	border-bottom: 2px #66b1d8 solid;
	   /* border-bottom: 1px #00c0ef solid;*/
}

#business_copy .businesstable .form_input {
	width: 120px;
	margin: 0;
	padding: 4px;
	height: 16px;
	line-height: 16px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #FFF url(../../../images/input_bg.gif) 0 0 no-repeat;
	box-shadow: 0 1px 2px #f4f4f4 inset;
	vertical-align: middle;
}

#business_copy .businesstable .form_select {
	width: 120px;
	margin: 0;
	padding: 4px;
	line-height: 16px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #FFF url(../../../images/input_bg.gif) 0 0 no-repeat;
	box-shadow: 0 1px 2px #f4f4f4 inset;
	vertical-align: middle;
	white-space: nowrap;
}

#business_copy .businesstable .child_table {
	width: 100%;
	margin: auto;
}

#business_copy .business_form_buttons {
	overflow: hidden;
	height: 36px;
	position: relative;
}
#business_copy .business_form_buttons input:hover {
    background-image:url(../../../images/trans_black.png);
}
#business_copy .business_form_submit {
	width: 80px;
	height: 30px;
	color: #fff;
	font-size:14px;
	/*width: 75px;
	font-size: 16px;
	background-color: #66b1d8;
	font-weight: bold;*/
	float: left;
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 0px;
	background: #01a5dc;
	border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#business_copy .business_form_back {
	width: 80px;
	height: 30px;
	font-size:14px;
	color: #fff;
	/*width: 75px;
	font-size: 16px;
	background-color: #66b1d8;
	font-weight: bold;*/
	float: left;
	cursor: pointer;
	position: absolute;
	left: 20px;
	top: 0px;
	background: #01a5dc;
	border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#business_copy .business_form_allupload_div {
	position: relative;
	top: 10px;
}

#business_copy .business_form_allupload {
	width: 75px;
	height: 30px;
	font-size: 16px;
	color: #fff;
	background-color: #66b1d8;
	float: left;
	cursor: pointer;
	font-weight: bold;
	position: absolute;
	right: 50px;
	top: 0px;
}

#business_copy .business_form_reupload {
	width: 85px;
	height: 30px;
	font-size: 16px;
	color: #fff;
	background-color: #66b1d8;
	float: left;
	cursor: pointer;
	font-weight: bold;
	position: relative;
	left: 700px;
	right: 50px;
	top: 0px;
}

#business_copy .business_noform_back {
	width: 75px;
	height: 30px;
	font-size: 16px;
	color: #fff;
	background-color: #66b1d8;
	cursor: pointer;
	font-weight: bold;
	margin: auto;
	display: block;
}

#business_copy .business_noform_submit {
	width: 75px;
	height: 30px;
	font-size: 16px;
	color: #fff;
	background-color: #66b1d8;
	float: left;
	cursor: pointer;
	font-weight: bold;
	position: absolute;
	right: 20px;
}

#business_copy .list_title .backlist_em {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 14px;
	color: #3E7ABB;
	cursor: pointer;
}