@charset "utf-8";
/* CSS Document */

/***********************  核算周期  ****************************/

.sider_bar{
	top:0;
}
.content_main{
	top:0;
	bottom:0;
}
.sider_bar,.sider_bar .menu_list .list_outer{
	width:210px;
}

.content_main{
	left:210px;
}
.menu_list .menu_parent p{
	width:126px;
	line-height:24px;
}
.menu_list .menu_parent{
	height:auto;
	/*max-height:44px;*/
	margin:5px 0;
}
.menu_list .menu_icon{
	margin-top:2px;
}

.sider_bar{
	background:white;
	box-shadow: 0px 0px 15px #818181;
}
.menu_list .menu_parent p{
	    color: #5D9BC3;
		font-weight:normal;
}
.menu_list .menu_parent{
	border-bottom:1px solid #ddd;
}
.menu_list .menu_parent:hover{
	    background: #fff;
}
.menu_list .menu_parent:hover p,.menu_list .menu_parent.cur p,.menu_list .sub_menu li.cur p{
    color: #1F679B;
}
.menu_list .sub_menu li.cur p{
	font-weight:bold;
}
.menu_list .menu_parent.cur .menu_icon img{
	margin-top:0px;
}

.sider_bar .menu_title{
	background: rgba(246,250,255,0.9);
    border-bottom: 1px solid #c9cdd1;
	box-shadow: 0px 2px 4px rgba(34,40,50,0.1);
	z-index: 9999999;
}
.sider_bar .menu_title p{
	color:#222d32;
}

.mCSB_scrollTools .mCSB_draggerRail{
	background:#fff;
}

.mCSB_scrollTools .mCSB_draggerContainer{
	top:5px;
}

.menu_list .menu_parent .arrow_down {
    background-image:url(../../../images/menu_status1.png);
    margin: 3px 10px;
}
.menu_list .menu_parent.cur .arrow_down {
    background-position: 0 -16px;
}

.menu_list .sub_menu{
	background-color:white;
}
.menu_list .sub_menu li a:hover {
    background-color: #fff;
}

.menu_list .menu_parent p{
	color:#333;
}

.menu_single{
	border-bottom:1px solid #ddd;
}
.menu_list .menu_parent{
	border-bottom:none;
}

.menu_list .sub_menu p{
	/*padding-left: 40px;*/
    color: #333;
	font-size:13px;
}

.menu_list .menu_icon{
	margin: 3px 10px;
	margin-right: 5px;
}

.menu_list .sub_menu .menu_icon{
	margin: 5px 10px;
	margin-right: 2px;
}

.menu_list .sub_menu a{
	padding-left:20px;
}