extends layouts/layout
append loadtitle
    -title += ' | 首页'

block web_content
    mixin toastr(status, msg)
    section.container-body#indexpage(ng-app="index",ng-controller="indexCtrl")
        .row
            .col-sm-12.side-header 公司介绍
                .pull-right: a(href='/company') MORE
            .col-sm-12.side-body
                span.ng-binding(ng-bind-html="company.description")
                //.col-sm-8
                //    span.ng-binding(ng-bind-html="company.description")
                //.col-sm-4
                //    img(src='../img/avatar/template/c9.jpg',width='100%')
        .row
            .col-sm-12.side-header 推荐产品
                .pull-right: a(href='/product/list/0') MORE
            .col-sm-12.side-body.demo-browser
                .demo-browser-content
                    .pro(ng-repeat="item in productlist")
                        img(ng-src='{{item.pic_url_loc}}')
                        .pro-body
                            a(ng-href='/product/{{item.id}}'): span(ng-bind="item.name")
                            p: span(ng-bind="item.publish_date")
        .row
            .col-sm-12.side-header 公司相册
                .pull-right: a(href='/photo/list') MORE
            .col-sm-12.side-body.demo-browser
                .demo-browser-content
                    .col-sm-4(ng-repeat="item in photolist")
                        img(ng-src='{{item.pic_url_loc}}')
                        .pro-body
                            a(ng-href='/photo/{{item.id}}'): span(ng-bind="item.photo_name")
                            p: span(ng-bind="item.createtime")

append scripts
    script(type = 'text/javascript', src = "/js/web/addviews.js")
    script(type = 'text/javascript', src = "/js/web/index.js")