extends layouts/layout
append loadtitle
    -title += ' | 首页'

block web_content
    mixin toastr(status, msg)
    section.container-body#indexpage(ng-app="index",ng-controller="indexCtrl")
        .row
            .col-sm-12.side-header 公司介绍
                .pull-right: a(href='/company') MORE
            .col-sm-12.side-body
                span.ng-binding(ng-bind-html="company.description")
                //.col-sm-8
                //    span.ng-binding(ng-bind-html="company.description")
                //.col-sm-4
                //    img(src='../img/avatar/template/c9.jpg',width='100%')
        .row
            .col-sm-12.side-header 推荐产品
                .pull-right MORE
            .col-sm-12.side-body.demo-browser
                .demo-browser-content
                    .pro
                        img(src='../img/web/browser-pic-1.jpg')
                        .pro-body
                            a: span 产品1
                            p: span 2016-12-30
                    .pro
                        img(src='../img/web/browser-pic-2.jpg')
                        .pro-body
                            a: span 产品1
                            p: span 2016-12-30
                    .pro
                        img(src='../img/web/browser-pic-3.jpg')
                        .pro-body
                            a: span 产品1
                            p: span 2016-12-30
                    .pro
                        img(src='../img/web/browser-pic-4.jpg')
                        .pro-body
                            a: span 产品1
                            p: span 2016-12-30
                    .pro
                        img(src='../img/web/browser-pic-5.jpg')
                        .pro-body
                            a: span 产品1
                            p: span 2016-12-30
                    .pro
                        img(src='../img/web/browser-pic-6.jpg')
                        .pro-body
                            a: span 产品1
                            p: span 2016-12-30
        .row
            .col-sm-12.side-header 公司相册
                .pull-right MORE
            .col-sm-12.side-body.demo-browser
                .demo-browser-content
                    .col-sm-4
                        img(src='../img/web/browser-pic-4.jpg')
                        .pro-body
                            a: span 产品1
                            p: span 2016-12-30
                    .col-sm-4
                        img(src='../img/web/browser-pic-5.jpg')
                        .pro-body
                            a: span 产品1
                            p: span 2016-12-30
                    .col-sm-4
                        img(src='../img/web/browser-pic-6.jpg')
                        .pro-body
                            a: span 产品1
                            p: span 2016-12-30


append scripts
    script(type = 'text/javascript', src = "/js/web/addviews.js")
    script(type = 'text/javascript', src = "/js/web/index.js")