extends layouts/layout
append loadtitle
    -title += ' | 新闻详情'

block web_content
    mixin toastr(status, msg)
    section.container-body
        .row
            .col-sm-12.side-header 新闻详情
            .col-sm-12.side-body
                p.col-sm-12.text-center
                    | 博鑫丰关注：美元走强 金价小幅下行【粗锌锭生产厂家】
                .col-sm-12.text-center.news-sub-title
                    span.mrl 发布时间：2017-01-01
                    span.mrl 浏览次数：430
                    a.mrl(href='/news/list') 返回列表
                .col-sm-12.
                    周四(4月9日)金价连续第三个交易日下跌，美元的走强和美联储会议纪要继续为黄金施压，金价再度回到了1200美元/盎司下方，周五亚市开后，金价在1194美元/盎司附近波动。

                    美国劳工部(DOL)周四公布的数据显示，美国4月4日当周季调后初请失业金人数四周均值为282250，创下2000年6月来最低。

                    纽约联储主席杜德利(William Dudley)周三表示，他相信美联储2015年加息是合理的，如果通胀和就业继续改善，今年6月加息仍有可能。

                    而美联储理事鲍威尔(Jerome Powell)周三也称，他预计经济将支持2015年稍后时期的加息，将关注当前的和6月的数据表现来决定加息是否是适宜的，美联储可能会在达到通胀目标和就业目标之前开始加息。

                    LOGIC Advisors的联合创始人Bill O"Neill说：“现在黄金市场的现金是流出的，这对黄金市场很不利。”

                    O"Neill指出了基金对黄金的兴趣已经实物黄金需求。——粗锌锭生产厂家

                    本周初金价受到上周发布的表现糟糕的三月非农数据影响，一度涨至1224美元/盎司的7周高点，但此后回落。

                    瑞士宝盛(Julius Baer)的分析师Carsten Menke表示：“美联储非农数据公布之后所发生的情景更像是意外，因为人们认为美联储会推迟升息，于是做出了大量的空头回补。”

                    Menke说：“黄金的长期趋势仍然是下行的，因为升息最终是会发生的。”——粗锌锭生产厂家

                    德国交易所(Deutsche Boerse)的高级分析师Tony Walters表示：“更大范围的市场看起来对升息更舒服，或者对升息的可能更舒服，因此贵金属会在这样的环境中遭遇困难。”

                    美元指数触及三周高点，对黄金不利。——粗锌锭生产厂家

                    实物黄金需求继续疲软，不过中国市场从小幅的金价贴水回升到了1美元/盎司左右。
