extends layouts/layout
append loadtitle
    -title += ' | 新闻详情'

block web_content
    mixin toastr(status, msg)
    section.container-body
        .row
            .col-sm-12.side-header 新闻列表
            .col-sm-12.side-body: ul.ul-web
                li
                    a(href='/news/1') 博鑫丰关注：美元走强 金价
                    .pull-right 2017-01-02
                li
                    a(href='/news/2') 博鑫丰关注：美元走强 金价
                    .pull-right 2017-01-02
                li
                    a(href='/news/3') 博鑫丰关注：美元走强 金价
                    .pull-right 2017-01-02
                li
                    a(href='/news/4') 博鑫丰关注：美元走强 金价
                    .pull-right 2017-01-02
            .clearfix.pagination-jzk-right: .pagination-jzk.pull-right.mtn.mrn#pagination

append scripts
    script(type='text/javascript').
        $(document).ready(function () {
            $("#pagination").pagination(25, {
                num_display_entries: 5,
                num_edge_entries: 0,
                items_per_page: 10,
                current_page: 1,
                callback: function (page_index, jq) {
                    if (Number(page_index) != currentPage) {
                        //Pager.GetData(page_index + 1);
                    }
                    return false;
                }
            });
        });