@CHARSET "UTF-8";

#tank02_copy .list_table.tank02_table {
	width: 3000px;
}

#tank02_copy .tank02_table td {
	white-space: nowrap;
}

#tank02_copy .lt_div {
	overflow-x: scroll;
}

#tank02_copy .list_table .no_td {
	width: 50px;
}

#tank02_copy .list_table .number_td {
	width: 100px;
}

#tank02_copy .list_table .name_td {
	width: 100px;
}

#tank02_copy .list_table .height_td {
	width: 100px;
}

#tank02_copy .list_table .diameter_td {
	width: 100px;
}

#tank02_copy .list_table .volume_td {
	width: 100px;
}

#tank02_copy .list_table .maxsh_td {
	width: 100px;
}

#tank02_copy .list_table .avgsh_td {
	width: 100px;
}

#tank02_copy .list_table .lining_td {
	width: 100px;
}

#tank02_copy .list_table .louter_td {
	width: 100px;
}

#tank02_copy .list_table .heatstatus_td {
	width: 100px;
}

#tank02_copy .list_table .color_td {
	width: 100px;
}

#tank02_copy .list_table .covertype_td {
	width: 100px;
}

#tank02_copy .list_table .radius_td {
	width: 100px;
}

#tank02_copy .list_table .paint_td {
	width: 100px;
}

#tank02_copy .list_table .vacuum_td {
	width: 150px;
}

#tank02_copy .list_table .pressure_td {
	width: 150px;
}

#tank02_copy .list_table .bury_td {
	width: 50px;
}

#tank02_copy .list_table .material_td {
	width: 150px;
}

#tank02_copy .list_table .mol_td {
	width: 100px;
}

#tank02_copy .list_table .td_td {
	width: 100px;
}

#tank02_copy .list_table .op_td {
	width: 50px;
}

#tank02_copy .list_table .antoine_a td {
	width: 100px;
}

#tank02_copy .list_table .antoine_b td {
	width: 100px;
}

#tank02_copy .list_table .antoine_c td {
	width: 100px;
}

#tank02_copy .list_table .liquid_td {
	width: 150px;
}

#tank02_copy .list_table .oilname_td {
	width: 150px;
}

#tank02_copy .list_table .Dist_tempXV_td {
	width: 100px;
}

#tank02_copy .list_table .Dist_tempV_td {
	width: 100px;
}

#tank02_copy .list_table .reid_pre_td {
	width: 120px;
}