header.container-fluid
    .topheader
        #header-logo.collapse.navbar-collapse
            p: h3 石家庄千甫金属制品有限公司
            p: span 各种型号锌锭 各种规格锌粉
    .topnav
        .navbar-header.navbar-inverse
            button.navbar-toggle.navbar-inverse(type='button',data-toggle='collapse',
            data-target="#navbar-collapse-1",aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.navbar-inverse(href='#',aria-expanded="false") 石家庄千甫金属
        #navbar-collapse-1.collapse.navbar-collapse.navbar-inverse
            ul.nav.navbar-nav.navbar-inverse
                li: a(href='#') 网站首页
                li: a(href='#') 公司介绍
                li: a(href='#') 供应产品
                li: a(href='#') 荣誉资质
                li: a(href='#') 公司相册
                li: a(href='#') 联系我们