header#about.site-header(role="banner")
    .logo: a(href='#',title="Impuls",rel='home')
        img.attachment_logo(src='../img/web/logo.png',width=380,height=142,alt='logo.png')
    .site-navigation(role="navigation"): ul.nav-menu
        li.current-menu-item: a(href='#about') About
        li: a(href='#team') Team
        li: a(href='#references') References
        li: a(href='#blog') Blog
        li: a(href='#contact') Contact
    h1 Just another WordPress site
    //.separator
    .row-fluid
        .col-md-4
            .solutions-icon
            h2 Proven solutions
        .col-md-4
            .competitiveness-icon
            h2 Competitiveness
        .col-md-4
            .confidence-icon
            h2 Confidence