.row
    .col-sm-12.side-header 网站公告
    .col-sm-12.side-body.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        本公司主要经营有色金属以及相关制品，本着以人为本，以质取胜，竞争求生存，合作求发展的宗旨，为广大用户提供优质产品，欢迎来电洽谈！！！
.row
    .col-sm-12.side-header 新闻中心
        .pull-right: a(href='/news/list') MORE
    .col-sm-12.side-body: ul
        li: a(href='#') 博鑫丰关注：美元走强 金价
        li: a(href='#') 博鑫丰关注：美元走强 金价
        li: a(href='#') 博鑫丰关注：美元走强 金价
        li: a(href='#') 博鑫丰关注：美元走强 金价
.row
    .col-sm-12.side-header 产品分类
        .pull-right MORE
    .col-sm-12.side-body: ul
        li: a(href='#') 全部分类
        li: a(href='#') 锌锭
        li: a(href='#') 锌粉
.row
    .col-sm-12.side-header 联系方式
        .pull-right MORE
    .col-sm-12.side-body
        ul
            li: a(href='#') 联系人：贾昭凯
            li: a(href='#') 电话：0311-88318838
            li: a(href='#') 邮件：coolon@126.com
            li: a(href='#') 手机：13609245992
            li: a(href='#') 传真：0311-88318838
        .col-sm-12
            div(style='width: 100%;height: 250px;')
                #allmap
.row
    .col-sm-12.side-header 友情链接
    .col-sm-12.side-body: ul
        li: a(href='#') ITEMING网站开发
        li: a(href='#') AliyunECS服务器