@CHARSET "UTF-8";

#waterfacilities_copy .list_table.waterfacilities_table {
	width: 1500px;
}

#waterfacilities_copy .list_table .no_td {
	width: 50px;
}

#waterfacilities_copy .lt_div {
	overflow-x: scroll;
}

#waterfacilities_copy .list_table .no_td.child {
	width: 150px;
}

#waterfacilities_copy .list_table .suanfa_td {
	width: 150px;
}

#waterfacilities_copy .list_table .lconcentration_td {
	width: 170px;
}

#waterfacilities_copy .list_table .rconcentration_td {
	width: 170px;
}

#waterfacilities_copy .list_table .pfxs_td {
	width: 150px;
}

#waterfacilities_copy .list_table .number_td {
	width: 160px;
}

#waterfacilities_copy .list_table .name_td {
	width: 160px;
}

#waterfacilities_copy .list_table .overall_td {
	width: 160px;
}

#waterfacilities_copy .list_table .capacity_td {
	width: 160px;
}

#waterfacilities_copy .list_table .temperature_td {
	width: 160px;
}

#waterfacilities_copy .list_table .treattype_td {
	width: 200px;
	position: relative;
}

#waterfacilities_copy .list_table	.treatmethodtype_td {
	width: 200px;
	position: relative;
}

#waterfacilities_copy .list_table	.treatmethod_td {
	width: 200px;
	position: relative;
}

#waterfacilities_copy .list_table .op_td {
	width: 50px;
}

#waterfacilities_copy .list_table .op_td.child {
	width: 150px;
}

#waterfacilities_copy .child_input {
	width: 160px;
	margin: 0;
	padding: 4px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #FFF url(../../../images/input_bg.gif) 0 0 no-repeat;
	box-shadow: 0 1px 2px #f4f4f4 inset;
	vertical-align: middle;
}

#waterfacilities_copy .child_select {
	width: 160px;
	margin: 0;
	padding: 4px;
	height: 32px;
	line-height: 22px;
	border: 1px solid #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #FFF url(../../../images/input_bg.gif) 0 0 no-repeat;
	box-shadow: 0 1px 2px #f4f4f4 inset;
	vertical-align: middle;
}

#addwaterfacilitiesform .form_buttons {
	position: absolute;
	bottom: 20px;
}

#waterfacilities_copy .add_div .form_div {
	padding-bottom: 80px;
}

#modifywaterfacilitiesform .form_buttons {
	position: absolute;
	bottom: 20px;
}

#waterfacilities_copy .check_div .form_div {
	padding-bottom: 80px;
}

#waterfacilities_copy .table_tip_div.treat_tip {
	width: 225px;
	line-height: 18px;
	position: absolute;
	top: 65px;
	left: 8px;
	display: none;
}

#waterfacilities_copy .table_tip {
	position: relative;
	width: 225px;
	z-index: 5;
	margin-left: 6px;
	border: solid 1px #0066cc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: #f5faff;
	color: #0066cc;
	padding: 7px 12px 5px 12px;
	font-size: 12px;
	text-align: left;
}

#waterfacilities_copy .table_tip_i {
	position: absolute;
	top: -4px;
	left: 12px;
	background: url("../../../images/up_arrow_ico.png") no-repeat;
	width: 8px;
	height: 4px;
	font-size: 4px;
	display: block;
}

#waterfacilities_copy .form_content .form_content_li.attachment_li {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	height: auto;
}

#waterfacilities_copy #file_upload_adhesive_add {
	margin-top: 7px;
}

#waterfacilities_copy .attachment_view_div {
	float: left;
	margin-left: 155px;
	margin-top: 12px;
	width: 650px;
}

#waterfacilities_copy .adhesive_attachment {
	height: 30px;
	line-height: 30px;
}

#waterfacilities_copy .attachment_del_a {
	margin-left: 20px;
	color: #999;
}

#waterfacilities_copy .attachment_del_a:hover {
	color: #dd1778;
}

#waterfacilities_copy .form_content .form_content_li.attachment_li {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	height: auto;
}

#waterfacilities_copy #file_upload_ordinarymaterial_add {
	margin-top: 7px;
}

#waterfacilities_copy .attachment_view_div {
	float: left;
	margin-left: 155px;
	margin-top: 12px;
	width: 650px;
}

#waterfacilities_copy .ordinarymaterial_attachment {
	height: 30px;
	line-height: 30px;
}

#waterfacilities_copy .attachment_del_a {
	margin-left: 20px;
	color: #999;
}

#waterfacilities_copy .attachment_del_a:hover {
	color: #dd1778;
}

#waterfacilities_copy .form_content .form_label {
	float: left;
	width: 258px;
	margin-right: 15px;
	text-align: right;
	line-height: 32px;
	min-height: 22px;
}

#waterfacilities_copy .form_tip_div {
    float: left;
    width: 343px;
    line-height: 18px;
    position: absolute;
    right: -125px;
    display: none;
}