extends ../../layout

append styles
    link(rel='shortcut icon',href='/img/cms/favicon.ico')

block content
    include ../includes/header
    block web_content
    include ../includes/footer

append scripts
