extends ../../layout

block loadtitle
    -var title= website.title
    -var keywords= website.keywords
    -var description= website.description

append styles
    link(rel='stylesheet', href='/styles/webcss.css')
    link(rel='shortcut icon',href='/img/cms/favicon.ico')

block content
    #page.container
        include ../includes/header
        section.container-fluid(style="margin-top: 5px;")
            .col-sm-3(ng-app="sider",ng-controller="siderCtrl")
                block show_sider
                    -var show_contact = true;
                    -var show_category = true;
                include ../includes/sider
            .col-sm-9
                block web_content
        include ../includes/footer

append scripts
    script(type='text/javascript',src='/plugins/angular/angular.min.js')
    script(type = 'text/javascript', src = "http://api.map.baidu.com/api?v=2.0&ak=z9lTh5KAhB2bPhQ2CUZG5Lpq")
    //script(type='text/javascript',src='/plugins/Custom/scrollTop.js')
    script(type = 'text/javascript', src = "/js/web/sider.js")
