extends ../../layout

block loadtitle
    -var title='石家庄千甫金属制品有限公司'

append styles
    link(rel='stylesheet', href='/styles/webcss.css')
    link(rel='shortcut icon',href='/img/cms/favicon.ico')
    style(type="text/css").
        #allmap {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
            font-family: "微软雅黑";
            border: 2px dashed #bbbbbb;
        }

block content
    #page.container(ng-app="all",ng-controller="allCtrl")
        include ../includes/header
        section.container-fluid(style="margin-top: 5px;")
            .col-sm-3
                block web_side
                    include ../includes/side_index
            .col-sm-9
                block web_content
        include ../includes/footer

append scripts
    script(type='text/javascript',src='/plugins/angular/angular.min.js')
    script(type='text/javascript',src='/js/index.js')
    script(type='text/javascript',src='/plugins/Custom/scrollTop.js')
    script(type='text/javascript').
        var app = angular.module('all', []);
        app.controller('allCtrl', function ($scope) {
            $scope.website = [];
            $scope.loadWebsite = function () {
                $.ajax({
                    url: "/website/",
                    type: "get",
                    dataType: "json",
                    success: function (data) {
                        if (data.status > 0) {
                            toastrShow(data.status, data.msg);
                            $scope.website = data.data;
                            $scope.$apply();
                        } else {
                            toastrShow(data.status, data.msg);
                        }
                    }
                });
            };
            $scope.loadWebsite();
        });
    script(type = 'text/javascript', src = "http://api.map.baidu.com/api?v=2.0&ak=z9lTh5KAhB2bPhQ2CUZG5Lpq")
    script(type = 'text/javascript').
        $(document).ready(function () {
            // 百度地图API功能
            var map = new BMap.Map("allmap");                           // 创建Map实例
            var point = new BMap.Point('115.028155', '37.992195');      // 创建Point点
            map.centerAndZoom(point, 11);                               // 初始化地图,设置中心点坐标、地图缩放级别
            map.addControl(new BMap.MapTypeControl());                  // 添加地图类型控件
            map.enableScrollWheelZoom(true);                            // 启用滚轮放大缩小，默认禁用
            map.enableContinuousZoom(true);                             // 启用地图惯性拖拽，默认禁用
            var marker = new BMap.Marker(point);                        // 创建标注
            map.addOverlay(marker);                                     // 将标注添加到地图中
            marker.setAnimation(BMAP_ANIMATION_BOUNCE);                 // 跳动的动画
        });
