extends ../../layout

append styles
    link(rel='stylesheet', href='/styles/webcss.css')
    link(rel='shortcut icon',href='/img/cms/favicon.ico')

block content
    #page.container(ng-app="all",ng-controller="allCtrl")
        include ../includes/header
        section.container-fluid(style="margin-top: 5px;")
            .col-md-3
                block web_side
                    include ../includes/side_index
            .col-md-9
                block web_content
        include ../includes/footer

append scripts
    script(type='text/javascript',src='/plugins/angular/angular.min.js')
    link(rel='javascript',href='/js/index.js')
    script(type='text/javascript').
        var app = angular.module('all', []);
        app.controller('allCtrl', function ($scope) {
            $scope.website = [];
            $scope.loadWebsite = function () {
                $.ajax({
                    url: "/website/",
                    type: "get",
                    dataType: "json",
                    success: function (data) {
                        if (data.status > 0) {
                            toastrShow(data.status, data.msg);
                            $scope.website = data.data;
                            $scope.$apply();
                        } else {
                            toastrShow(data.status, data.msg);
                        }
                    }
                });
            };
            $scope.loadWebsite();
        });
