script(type='text/javascript',src='/js/jquery-1.9.1.min.js')
script(type='text/javascript',src='/plugins/Flat-UI/js/flat-ui.js')
script(type='text/javascript',src='/plugins/Flat-UI/js/application.js')
script(type='text/javascript',src='/plugins/Flat-UI/js/prettify.js')
script(type='text/javascript',src='/plugins/toastr/toastr.js')
script(type='text/javascript',src='/js/launch.js')