script(type='text/javascript',src='/js/jquery-1.9.1.min.js')
script(type='text/javascript',src='/plugins/Flat-UI/js/flat-ui.js')
script(type='text/javascript',src='/plugins/Flat-UI/js/application.js')
script(type='text/javascript',src='/plugins/Flat-UI/js/prettify.js')
script(type='text/javascript',src='/plugins/toastr/toastr.js')

script(type='text/javascript',src='/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js')
script(type='text/javascript',src='/plugins/parsley/js/parsley.js')
script(type='text/javascript',src='/plugins/pagination/jquery.pagination.js')
script(type='text/javascript',src='/js/ie8-respond.js')
script(type='text/javascript',src='/js/ie8-placeholder.js')
script(type='text/javascript',src='/js/ie8-extend.js')
script(type='text/javascript',src='/js/qrcode.js')
script(type='text/javascript',src='/js/launch.js')