link(rel='stylesheet', href='/styles/style.css')
link(rel='stylesheet', href='/plugins/Flat-UI/css/vendor/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet', href='/plugins/Flat-UI/css/flat-ui.css')
link(rel='stylesheet', href='/plugins/font-awesome-4.7.0/css/font-awesome.css')
link(rel='stylesheet', href='/plugins/toastr/toastr.css')
link(rel='stylesheet', href='/plugins/animations/animations.css')

link(rel='stylesheet', href='/plugins/parsley/css/parsley.css')
link(rel='stylesheet', href='/plugins/pagination/pagination.css')
link(rel='stylesheet', href='/plugins/bootstrap-datepicker/css/datepicker.css')