link(rel='stylesheet', href='/styles/style.css')
link(rel='stylesheet', href='/plugins/Flat-UI/css/vendor/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet', href='/plugins/Flat-UI/css/flat-ui.css')
link(rel='stylesheet', href='/plugins/toastr/toastr.css')