mixin toastr(status, msg)
    #toast-container.toast-bottom-right(aria-live='polite',role='alert', style="#{msg?'display:block':'display:none'}",
        onclick='hidden_toast()')
        if(status == 1)
            .toast.toast-success: .toast-message= msg
        else if (status == 2)
            .toast.toast-error: .toast-message= msg
        else if (status == 3)
            .toast.toast-warning: .toast-message= msg
        else
            .toast.toast-info: .toast-message= msg
