@CHARSET "UTF-8";

#eductor_copy .view_div{
	
overflow-x: scroll;
}

#eductor_copy .list_table .no_td {
	width: 50px;
}

#eductor_copy .list_table .name_td {
	width: 80px;
}

#eductor_copy .list_table .compressor_td {
	width: 75px;
}

#eductor_copy .list_table .flange_td {
	width: 75px;
}

#eductor_copy .list_table .pump_td {
	width: 75px;
}

#eductor_copy .list_table .valve_td {
	width: 75px;
}

#eductor_copy .list_table .pressurerelief_td {
	width: 75px;
}

#eductor_copy .list_table .openpipe_td {
	width: 75px;
}

#eductor_copy .list_table .others_td {
	width: 90px;
}

#eductor_copy .list_table .inset_td {
	width: 90px;
}

#eductor_copy .list_table .outset_td {
	width: 90px;
}

#eductor_copy .list_table .op_td {
	width: 50px;
}