@CHARSET "UTF-8";
#Departmanage .view_div{
	overflow-x:scroll;
}                     
#Departmanage .Departmanage_table td {
	white-space: nowrap;
}
#Departmanage .list_table .no_td {
	width: 50px;
}

#Departmanage .list_table .dname_td {
	width: 100px;
}

#Departmanage .list_table .dcode_td {
	width: 100px;
}

#Departmanage .list_table .dperson_td {
	width: 100px;
}

#Departmanage .list_table .dlevel_td {
	width: 100px;
}
#Departmanage .list_table .ddeparttype_td {
	width: 100px;
}

#Departmanage .list_table .dtel_td {
	width: 100px;
}

#Departmanage .list_table .dtex_td {
	width: 100px;
}

#Departmanage .list_table .dolecontrol_td {
	width: 100px;
}